In [ ]:
import pandas as pd
import numpy as np
from sklearn import preprocessing

In [ ]:
data_frame=pd.read_csv('/content/ds_salaries.csv')
data_frame

,Unnamed: 0,work_year,experience_level,employment_type,job_title,salary,salary_currency,salary_in_usd,employee_residence,remote_ratio,company_location,company_size
0,0,2020,MI,FT,Data Scientist,70000,EUR,79833,DE,0,DE,L
1,1,2020,SE,FT,Machine Learning Scientist,260000,USD,260000,JP,0,JP,S
2,2,2020,SE,FT,Big Data Engineer,85000,GBP,109024,GB,50,GB,M
3,3,2020,MI,FT,Product Data Analyst,20000,USD,20000,HN,0,HN,S
4,4,2020,SE,FT,Machine Learning Engineer,150000,USD,150000,US,50,US,L
...,...,...,...,...,...,...,...,...,...,...,...,...
602,602,2022,SE,FT,Data Engineer,154000,USD,154000,US,100,US,M
603,603,2022,SE,FT,Data Engineer,126000,USD,126000,US,100,US,M
604,604,2022,SE,FT,Data Analyst,129000,USD,129000,US,0,US,M
605,605,2022,SE,FT,Data Analyst,150000,USD,150000,US,100,US,M
606,606,2022,MI,FT,AI Scientist,200000,USD,200000,IN,100,US,L

# **Load Feature Selected**

In [ ]:
data_frame=data_frame[['work_year','experience_level','employment_type','job_title','salary_in_usd','employee_residence','remote_ratio','company_location','company_size']]
data_frame

,work_year,experience_level,employment_type,job_title,salary_in_usd,employee_residence,remote_ratio,company_location,company_size
0,2020,MI,FT,Data Scientist,79833,DE,0,DE,L
1,2020,SE,FT,Machine Learning Scientist,260000,JP,0,JP,S
2,2020,SE,FT,Big Data Engineer,109024,GB,50,GB,M
3,2020,MI,FT,Product Data Analyst,20000,HN,0,HN,S
4,2020,SE,FT,Machine Learning Engineer,150000,US,50,US,L
...,...,...,...,...,...,...,...,...,...
602,2022,SE,FT,Data Engineer,154000,US,100,US,M
603,2022,SE,FT,Data Engineer,126000,US,100,US,M
604,2022,SE,FT,Data Analyst,129000,US,0,US,M
605,2022,SE,FT,Data Analyst,150000,US,100,US,M
606,2022,MI,FT,AI Scientist,200000,IN,100,US,L

# Memilih Data yang akan di modelkan menggunakan algoritma machine learning

# **Analisis Data**

In [ ]:
data_frame.isna().sum()

work_year             0
experience_level      0
employment_type       0
job_title             0
salary_in_usd         0
employee_residence    0
remote_ratio          0
company_location      0
company_size          0
dtype: int64

In [ ]:
data_frame.describe()

         work_year  salary_in_usd  remote_ratio
count   607.000000     607.000000     607.00000
mean   2021.405272  112297.869852      70.92257
std       0.692133   70957.259411      40.70913
min    2020.000000    2859.000000       0.00000
25%    2021.000000   62726.000000      50.00000
50%    2022.000000  101570.000000     100.00000
75%    2022.000000  150000.000000     100.00000
max    2022.000000  600000.000000     100.00000

In [ ]:
data_frame.describe(include='O')

,experience_level,employment_type,job_title,employee_residence,company_location,company_size
count,607,607,607,607,607,607
unique,4,4,50,57,50,3
top,SE,FT,Data Scientist,US,US,M
freq,280,588,143,332,355,326

In [ ]:
data_frame.value_counts()

work_year  experience_level  employment_type  job_title           salary_in_usd  employee_residence  remote_ratio  company_location  company_size
2022       SE                FT               Data Scientist      140000         US                  100           US                M               6
                                              Data Analyst        90320          US                  100           US                M               5
                                              Data Scientist      210000         US                  100           US                M               4
                                              Data Analyst        112900         US                  100           US                M               4
                                              Data Scientist      123000         US                  100           US                M               3
                                                                                                                                                    ..
2021       MI                FT               Data Scientist      46809          ES                  100           ES                M               1
                                                                  40038          CL                  100           CL                L               1
                                                                  37825          ES                  100           ES                L               1
                                                                  33808          IN                  0             IN                M               1
2022       SE                FT               Research Scientist  144000         US                  50            US                L               1
Length: 565, dtype: int64

In [ ]:
data_frame.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 607 entries, 0 to 606
Data columns (total 9 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   work_year           607 non-null    int64
 1   experience_level    607 non-null    object
 2   employment_type     607 non-null    object
 3   job_title           607 non-null    object
 4   salary_in_usd       607 non-null    int64
 5   employee_residence  607 non-null    object
 6   remote_ratio        607 non-null    int64
 7   company_location    607 non-null    object
 8   company_size        607 non-null    object
dtypes: int64(3), object(6)
memory usage: 42.8+ KB

In [ ]:
data_frame.corr()

               work_year  salary_in_usd  remote_ratio
work_year       1.000000       0.170493      0.076314
salary_in_usd   0.170493       1.000000      0.132122
remote_ratio    0.076314       0.132122      1.000000

In [ ]:
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split

In [ ]:
data_frame.head()

,work_year,experience_level,employment_type,job_title,salary_in_usd,employee_residence,remote_ratio,company_location,company_size
0,2020,MI,FT,Data Scientist,79833,DE,0,DE,L
1,2020,SE,FT,Machine Learning Scientist,260000,JP,0,JP,S
2,2020,SE,FT,Big Data Engineer,109024,GB,50,GB,M
3,2020,MI,FT,Product Data Analyst,20000,HN,0,HN,S
4,2020,SE,FT,Machine Learning Engineer,150000,US,50,US,L

In [ ]:
data_frame=pd.get_dummies(data_frame,columns=['experience_level','employment_type','job_title','employee_residence','company_location','company_size'])
feature=data_frame.drop(columns='salary_in_usd')
feature

,work_year,remote_ratio,experience_level_EN,experience_level_EX,experience_level_MI,experience_level_SE,employment_type_CT,employment_type_FL,employment_type_FT,employment_type_PT,...,company_location_RU,company_location_SG,company_location_SI,company_location_TR,company_location_UA,company_location_US,company_location_VN,company_size_L,company_size_M,company_size_S
0,2020,0,0,0,1,0,0,0,1,0,...,0,0,0,0,0,0,0,1,0,0
1,2020,0,0,0,0,1,0,0,1,0,...,0,0,0,0,0,0,0,0,0,1
2,2020,50,0,0,0,1,0,0,1,0,...,0,0,0,0,0,0,0,0,1,0
3,2020,0,0,0,1,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,1
4,2020,50,0,0,0,1,0,0,1,0,...,0,0,0,0,0,1,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
602,2022,100,0,0,0,1,0,0,1,0,...,0,0,0,0,0,1,0,0,1,0
603,2022,100,0,0,0,1,0,0,1,0,...,0,0,0,0,0,1,0,0,1,0
604,2022,0,0,0,0,1,0,0,1,0,...,0,0,0,0,0,1,0,0,1,0
605,2022,100,0,0,0,1,0,0,1,0,...,0,0,0,0,0,1,0,0,1,0
606,2022,100,0,0,1,0,0,0,1,0,...,0,0,0,0,0,1,0,1,0,0

In [ ]:
label=data_frame['salary_in_usd']
label

0       79833
1      260000
2      109024
3       20000
4      150000
        ...
602    154000
603    126000
604    129000
605    150000
606    200000
Name: salary_in_usd, Length: 607, dtype: int64

In [ ]:
data=pd.DataFrame(feature)
data

,work_year,remote_ratio,experience_level_EN,experience_level_EX,experience_level_MI,experience_level_SE,employment_type_CT,employment_type_FL,employment_type_FT,employment_type_PT,...,company_location_RU,company_location_SG,company_location_SI,company_location_TR,company_location_UA,company_location_US,company_location_VN,company_size_L,company_size_M,company_size_S
0,2020,0,0,0,1,0,0,0,1,0,...,0,0,0,0,0,0,0,1,0,0
1,2020,0,0,0,0,1,0,0,1,0,...,0,0,0,0,0,0,0,0,0,1
2,2020,50,0,0,0,1,0,0,1,0,...,0,0,0,0,0,0,0,0,1,0
3,2020,0,0,0,1,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,1
4,2020,50,0,0,0,1,0,0,1,0,...,0,0,0,0,0,1,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
602,2022,100,0,0,0,1,0,0,1,0,...,0,0,0,0,0,1,0,0,1,0
603,2022,100,0,0,0,1,0,0,1,0,...,0,0,0,0,0,1,0,0,1,0
604,2022,0,0,0,0,1,0,0,1,0,...,0,0,0,0,0,1,0,0,1,0
605,2022,100,0,0,0,1,0,0,1,0,...,0,0,0,0,0,1,0,0,1,0
606,2022,100,0,0,1,0,0,0,1,0,...,0,0,0,0,0,1,0,1,0,0

In [ ]:
train_x, test_x, train_y, test_y=train_test_split(feature,label, test_size=0.1)

In [ ]:
train_x

,work_year,remote_ratio,experience_level_EN,experience_level_EX,experience_level_MI,experience_level_SE,employment_type_CT,employment_type_FL,employment_type_FT,employment_type_PT,...,company_location_RU,company_location_SG,company_location_SI,company_location_TR,company_location_UA,company_location_US,company_location_VN,company_size_L,company_size_M,company_size_S
449,2022,100,1,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,1,0,0
583,2022,100,0,0,0,1,0,0,1,0,...,0,0,0,0,0,1,0,0,1,0
80,2021,100,0,0,0,1,0,0,1,0,...,0,0,0,0,0,0,0,1,0,0
58,2020,50,0,0,0,1,0,0,1,0,...,0,0,0,0,0,1,0,1,0,0
450,2022,100,0,0,0,1,0,0,1,0,...,0,0,0,0,0,1,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
77,2021,50,0,0,1,0,0,0,0,1,...,0,0,0,0,0,0,0,0,1,0
190,2021,100,0,0,0,1,0,0,1,0,...,0,0,0,0,0,0,0,1,0,0
318,2022,100,0,0,0,1,0,0,1,0,...,0,0,0,0,0,1,0,0,1,0
335,2022,100,0,0,0,1,0,0,1,0,...,0,0,0,0,0,1,0,0,1,0
31,2020,100,1,0,0,0,0,0,1,0,...,0,0,0,0,0,1,0,1,0,0

In [ ]:
train_y

449     21983
583    160080
80      79197
58     120000
450     80000
        ...
77       5409
190    152000
318     90320
335    132320
31      70000
Name: salary_in_usd, Length: 546, dtype: int64

In [ ]:
from sklearn.linear_model import PoissonRegressor
from sklearn.pipeline import make_pipeline
from sklearn.preprocessing import StandardScaler

In [ ]:
clf = PoissonRegressor().fit(train_x, train_y)

/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_glm/glm.py:323: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
  self.n_iter_ = _check_optimize_result("lbfgs", opt_res)

In [ ]:
predict_y=clf.predict(test_x)

In [ ]:
predict_y

array([ 65742.89058293, 136625.84891096,  71510.28996142,  46155.57974642,
       184218.14359123, 136594.64688863,  75357.09066501, 159989.02771456,
       105383.5840724 ,  58087.34854527,  39830.91283876,  41059.97246002,
       112508.15561664,  86968.44530781,  84960.05628579, 150641.12273686,
        64009.66533141, 125696.15198749, 216649.33244783,  55511.47134013,
       155552.44367717,  91067.53771205, 179109.67279839,  99188.37611198,
        98164.78755933,  55832.34105859,  38282.68517632,  87212.24653366,
        92770.53572697,  81595.67529415, 179109.67279839, 175620.58277921,
       155552.44367717,  63163.56756226,  64431.45584659,  33046.39002481,
       145104.04815639,  76111.20591473,  16827.24068067,  84950.16698768,
       112508.15561664, 159989.02771456,  54970.09601027, 143045.32031478,
        80238.12809769, 102772.712194  , 184218.14359123,  42410.09136009,
       112508.15561664,  32905.46948912,  28331.88499016,  61653.77121789,
        67940.43001966, 159989.02771456, 185905.28005351,  74283.99757874,
       164389.61107118, 102017.3742026 , 159989.02771456, 150641.12273686,
       171773.34123372])

In [ ]:
test_y=np.array(test_y)
test_y

array([ 61467, 106000,  82528,  22611, 192600, 112000,  78526, 210000,
        99703,  24342,  33808,   9272,  90320,  60757,  93427, 155000,
        35735,  93150, 220000,  70139, 140400,  90000, 164996,  62000,
        94564,  31875,  67000,  62651,  60000,  87738, 189650, 110000,
       205300, 122346,  35590,  51321, 105000, 130800,   6072,  60000,
       106260, 140000,  42000, 115000,  20000,  38400, 214000,  20000,
        99050,  16228,  20000,  54957, 110037, 123000, 170000, 125000,
       135000, 135000, 210000, 130000, 105400])

In [ ]:
clf.score(test_x, test_y)

0.6854577628749667

In [ ]:
from sklearn import metrics

In [ ]:
print(metrics.mean_absolute_error(test_y,predict_y))

25527.585000846248

In [ ]:
print(metrics.mean_squared_error(test_y,predict_y))

960740991.508478

In [ ]:
print(np.sqrt(metrics.mean_squared_error(test_y,predict_y)))

30995.822162163695