Import Library

In [ ]:
import numpy as np
import pandas as pandas
from sklearn.model_selection import train_test_split
import keras
from sklearn.naive_bayes import GaussianNB
import joblib

Get Dataset

In [ ]:
data_frame=pandas.read_csv('/content/diabetes.csv')

In [ ]:
data_frame

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1
...,...,...,...,...,...,...,...,...,...
763,10,101,76,48,180,32.9,0.171,63,0
764,2,122,70,27,0,36.8,0.340,27,0
765,5,121,72,23,112,26.2,0.245,30,0
766,1,126,60,0,0,30.1,0.349,47,1
767,1,93,70,31,0,30.4,0.315,23,0

Cek miss Value

In [ ]:
data_frame.isnull().sum()

Pregnancies                 0
Glucose                     0
BloodPressure               0
SkinThickness               0
Insulin                     0
BMI                         0
DiabetesPedigreeFunction    0
Age                         0
Outcome                     0
dtype: int64

In [ ]:
data_frame=data_frame.dropna()

In [ ]:
data_frame.isnull().sum()

Pregnancies                 0
Glucose                     0
BloodPressure               0
SkinThickness               0
Insulin                     0
BMI                         0
DiabetesPedigreeFunction    0
Age                         0
Outcome                     0
dtype: int64

pisah variabel dipenden dan independen

In [ ]:
df_x=data_frame.drop(['Outcome'],axis=1)

In [ ]:
df_x

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
0,6,148,72,35,0,33.6,0.627,50
1,1,85,66,29,0,26.6,0.351,31
2,8,183,64,0,0,23.3,0.672,32
3,1,89,66,23,94,28.1,0.167,21
4,0,137,40,35,168,43.1,2.288,33
...,...,...,...,...,...,...,...,...
763,10,101,76,48,180,32.9,0.171,63
764,2,122,70,27,0,36.8,0.340,27
765,5,121,72,23,112,26.2,0.245,30
766,1,126,60,0,0,30.1,0.349,47
767,1,93,70,31,0,30.4,0.315,23

In [ ]:
df_y=data_frame['Outcome']

In [ ]:
df_y

0      1
1      0
2      1
3      0
4      1
      ..
763    0
764    0
765    0
766    1
767    0
Name: Outcome, Length: 768, dtype: int64

In [ ]:
train_x, test_x, train_y, test_y=train_test_split(df_x,df_y, test_size=0.2,random_state=42)

In [ ]:
f'ukuran 80% untuk data train x {train_x.shape}, dan ukuran 20% untuk data train y {train_y.shape}'

'ukuran 80% untuk data train x (614, 8), dan ukuran 20% untuk data train y (614,)'

In [ ]:
f'ukuran 80% untuk data test x {test_x.shape}, dan ukuran 20% untuk data test y {test_y.shape}'

'ukuran 80% untuk data test x (154, 8), dan ukuran 20% untuk data test y (154,)'

In [ ]:
model = GaussianNB() 
model.fit(train_x, train_y)

GaussianNB()

In [ ]:
joblib.dump(model, "model.pkl")

['model.pkl']